.title-link {
  font-family: "Atma", cursive;
  border: 0.5vh solid black;
  background-color: white;
  width: 40vh;
  border-radius: 7vh;
  text-align: center;
}

.container-link {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 80px;
  justify-content: center; /* Centra las columnas horizontalmente */
  align-content: center;
  padding-top: 3%;
}
